 @font-face{
	src:url(Gotham-Rounded/GothamRnd-Light.otf);
	font-family: gotham;
}

@font-face{
	src:url(Gotham-Rounded/GothamRnd-Bold.otf);
	font-family: gotham-bold;
}

body{
	font-family: gotham;
	background-color: #fff;
}

	
.navbar-brand{
	margin: 0;
}
.navbar-nav .nav-link:first-child{
	padding-left: 0;
}
.navbar-nav .nav-link{
	font-size: 20px;
}


.navbar-toggler{
	background: #fff;
}

.logo{
	display: inline-flex;
	margin-top: 30px;
}
.fix{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
	z-index: 100;
}

.nav-item{
	padding-right: .8rem;
}
.nav-link{
	font-size: 16px;
	text-align: right;
	padding: 10px;
	color:#fff!important;
}
.nav-link:hover{
	transition: 0.3s;
	color: #00ffff!important;
}
span .fa-angle-down{
	display: none;
}
.banner{
	padding:150px 0 50px;
	background: #000;
	/* style="background-image: url('images/banner-image.jpg'); */
}
#particles-js{
	position: absolute;
    width: 100%;
    height: 100%;
}
canvas {
    display: block;
    vertical-align: bottom;
}
.banner .banner_content{
	text-align: center;
}
.banner .banner_content img{
	width: 120px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
.banner p{
	font-size: 20px;
	color: #fff;
}
.banner .gif{
	text-align: center;
}
.banner .gif img{
	width: 120px;
    height: auto;	
}
.first-content{
	padding: 50px 0;
}
.first-content h2{
    font-size: 40px;
    font-weight: bold;
}
/*.first-content h2{
	margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.first-content #portfolio-slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow: hidden;
}
.first-content #portfolio-slider > div{
	display: grid;
	text-align: center;
    justify-content: center;
    align-items: flex-end;
}
.first-content #portfolio-slider img{
	width: 200px;
}

.first-content #portfolio-slider a{
	color:#000;
	font-weight: 600;
}

.first-content #portfolio-slider a:hover{
	color:#007bff;
	text-decoration: none;
	transition: 0.3s;
}*/
.first-content .card{
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
	margin-bottom: 20px;
}

.first-content .card a{
	color:#343a40;
	font-size: 16px;
}
/* .first-content .card a:hover{
	content: "\2192";
	color: #00ffff;
	text-decoration: none;
} */

.first-content .card img{
 height: 180px;
}
.second-content{
	padding: 50px 0 0;
	background:#343a40;
}
.second-content .skills{
	margin-bottom: 50px;
}
.second-content .skills_details{
	text-align: center;
}
.second-content .skills_details h2{
	margin-bottom: 50px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
}
.second-content .skills_details ul{
	margin-right: 200px;
	display: grid;
}
.second-content .experience_details .year,
.second-content .experience_details .ojt-work,
.second-content .experience_details .time{
	margin-right: 50px;
	display: grid;
}
.second-content .experience_details{
	display: flex;
	justify-content: space-between;
}
.second-content .language{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.second-content .language > div{
	text-align: center;
	margin-bottom: 50px;
	margin-right: 20px;
}
.second-content .language > div > div{
	cursor: pointer;
}
.second-content .language > div > div:hover{
	transform: translateY(-5%);
	transition: 0.5s;
	transition: ease-in-out 0.5s;
}
.second-content .language > div:nth-child(8){
	display: grid;
    justify-content: center;
    align-items: center;
}
.second-content .language img{
	width: 100px;
	margin-bottom: 15px;
}
.second-content .language p{
	font-weight: bold;
	margin-bottom: 0;
	color: #fff;
}

.second-content .experience_details .ojt-work > div p:first-child{
	margin-bottom: 0;
}
.third-content{
	padding: 50px 0;
}
.third-content .experience {
    margin: 0 0 45px;
    padding: 0;
    position: relative;
}
.third-content h2{
	margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}
.center-h2{
	text-align: center;
	margin-bottom: 50px;
}
/* .third-content .experience::before {
    border-radius: .25rem;
    background: #dee2e6;
    bottom: 0;
    content: '';
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
} */
.third-content .experience>div{
	margin-bottom:30px;
	text-align: center;
}
.third-content .experience>div > div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.third-content .work>span {
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
	margin: 5px 0;
}

/* .third-content .experience>div> div > i {
    background: #adb5bd;
    border-radius: 50%;
    font-size: 15px;
    height: 30px;
    left: 18px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
} */
/* .third-content .experience>div::after, 
.third-content .experience>div::before {
    content: "";
    display: table;
} */
.third-content .color-gray{
    background-color: #a9a9a9 !important;
    color: #fff;
}
.third-content .company_year {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: .25rem;
    background: #fff;
    color: #495057;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.third-content .timeline-body {
    padding: 10px;
}
footer{
	background:#343a40;
	padding: 20px 0;
}
footer .copyright p{
	color:#fff;
	margin-bottom: 0;
	font-size: 14px;
}
footer .copy_media{
	text-align: center;
}

footer .social-media img{
	width: 30px;
	height: auto;
	border-radius: 50px;
}
@media (min-width: 768px){
	.first-content .card a:after {
		content: '\2794';
		position: absolute;
		opacity: 0;  	
		bottom: 18px;
		right: -20px;
		transition: 0.5s;
	}
	
	.first-content .card a:hover{
		padding-right: 24px;
		padding-left:8px;
		color: #00ffff;
		text-decoration: none;
	}
	
	.first-content .card a:hover:after {
		opacity: 1;
		right: 30px;
	}
	.second-content .language{
		display: flex;
		flex-wrap: wrap;
		/* grid-template-columns: 1fr 1fr 1fr 1fr;
		height: 100%; */
	}
	.second-content .language > div{
		padding:0 20px;
	}
	.third-content .experience>div{
		text-align: left;
	}
	/* .third-content .experience>div>.work>span{
		margin-left: 60px;
	} */
	.third-content .company_year{
		margin-left: 60px;
	}
/*	.nav-link {
	    text-align: left;
	    padding-left: 13px;
	}

	.nav-link:hover {
	    background-color: #1E90FF;
	    border-radius: 14px;
	    width: 17%;
	    text-align: left;
	    padding-left: 13px;
	}*/

}

@media (min-width: 992px){
	.nav-item{
		padding: 0;
	}
	.banner p{
		font-size: 25px;
		padding: 0 150px;
	}
	.first-content .card a{
		font-size: 20px;
	}
/*	.nav-link{
		text-align: left;
		font-size: 20px;
	}
	.nav-link:hover{
		width: 100%;
	}*/
	.second-content .language > div{
		padding: 0 60px;
	}
	.navbar-nav .nav-link{
		padding-right: 25px!important;
	}
	span .fa-angle-down {
    	display: inline;
	}
	.fa-angle-down:before{
		padding-left: 5px;
	}
}
@media (min-width: 1200px){
	.sign img{
		padding-left: 7px;
	}

/*	.nav-link{
		width: auto;
	}
	.nav-link:hover{
		background-color: #1E90FF;
		border-radius: 14px;
		width: 100%;
	}*/

	.fa-angle-down:before{
		padding-left: 7px;
	}
}